body{
    
    .bg-sidebar{
        background-color: 	#808588 !important;
    }
    .nav-link{
            color: white !important;
        
    }
    .nav-height{
        height: 100vh;
    }
    label{
        &.required{
            &:after{
                content:"*";
                color: red;
            }
        }
    }
    .img-dashboard-upload{
        width: 25vh;
    }
    textarea{
        width: 100%;
    }
    main{
        .img-dashboard{
            max-width: 100%;
        }
        .show{
            color: blue;
        }
        .edit{
            color: green;
        }
        
    }
}