body{
    .bg-dark-blue {
        background-color: #1A3287;
    }
    main{
        *{
            font-family: 'Urbanist', cursive;
        }
        min-height: 80vh;
        h2 {
            font-family: 'Rampart One', cursive; 
            font-weight: 600;
            font-size: 3rem;
            
        }
        .fw-normal {
            font-family: 'Cardo', serif;
            font-size: 1.8rem;
        }
        h3 {
            font-family: 'Rajdhani', sans-serif;
        }
        h6{
            font-family: 'Varela Round', sans-serif;
        }
        .container{
            margin-left: 3%;
            margin-right: 3%;
        }
        a{
            color:black;
            text-decoration: none;            
        }
        .link{
            color:#1A3287;
            text-decoration: underline;
        }
        .home-card-product{
            &:hover{
                background-color: rgb(218, 219, 218);
                font-size: 1.1rem;
                font-weight: 600;
                
            }
        }
        .shop-card-product{
            &:hover{
                background-color: rgb(218, 219, 218);
                
            }
        }
        .min-desc-product{
            font-size: 0.8rem;
        }
        .img-favoris-size{
            width: 8rem; 
        }
    }
}