<h1>Finalisez de votre inscription à Mon Petit Geste Eco !</h1>

<p>
    Afin de finaliser la création de votre compte sur Mon Petit Geste Eco, merci de cliquer sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Je confirme mon email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement !
</p>

