{% extends 'base-backend.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_category_index') }}"class="btn btn-secondary mt-4 mb-2 align-items-center" title="Retour">
    <i class="bi bi-arrow-left me-1"></i>Retour
    </a>

    <h1>Nouvelle Catégorie</h1>

    {{ include('admin_category/_form.html.twig') }}

{% endblock %}
