<form method="post" action="{{ path('app_admin_article_blog_delete', {'id': article_blog.id}) }}" onsubmit="return confirm('Souhaitez-vous confirmer la suppression de cet article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article_blog.id) }}">
    <button class="btn btn-danger" title="Supprimer"> 
    <i class="bi bi-trash"></i>
    </button>
</form>
